apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: netbox

resources:
  - namespace.yaml
  - postgres-pvc.yaml
  - postgres-deployment.yaml
  - postgres-service.yaml
  - redis-deployment.yaml
  - redis-service.yaml
  - netbox-deployment.yaml
  - netbox-service.yaml

