apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: ipclaims.dcops.microscaler.io
spec:
  group: dcops.microscaler.io
  versions:
  - name: v1alpha1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            required:
            - poolRef
            - deviceRef
            properties:
              poolRef:
                type: object
                required:
                - name
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
              deviceRef:
                type: object
                required:
                - name
                properties:
                  name:
                    type: string
                  interface:
                    type: string
                  netboxDeviceRef:
                    type: string
              preferredIp:
                type: string
          status:
            type: object
            properties:
              ip:
                type: string
              state:
                type: string
                enum:
                - pending
                - allocated
                - failed
                default: pending
              netboxIpRef:
                type: string
              lastReconciled:
                type: string
                format: date-time
              error:
                type: string
  scope: Namespaced
  names:
    plural: ipclaims
    singular: ipclaim
    kind: IPClaim
    shortNames:
    - ipclaim
    - claim

